body {
  margin: 0;
  padding: 0; }

.header {
  text-align: center;
  margin-top: 30px; }

.head {
  font-size: 32px;
  background-color: #00BCD4;
  font-family: "Noticia Text", serif;
  font-weight: 700;
  color: #B2EBF2;
  border-radius: 10px;
  margin: 20px 40px 0px 40px; }
  @media screen and (min-width: 700px) and (max-width: 999px) {
    .head {
      font-size: 36px; } }

.headsub {
  font-family: "Merienda", cursive;
  color: #00BCD4;
  font-size: 20px;
  margin: 20px 40px 0px 40px; }
  @media screen and (min-width: 700px) and (max-width: 999px) {
    .headsub {
      font-size: 32px; } }

.del {
  float: right;
  margin-right: 50px; }

.glyphicon-check {
  margin-left: 10px;
  color: #B2EBF2; }

.glyphicon-education {
  margin-left: 10px;
  font-size: 25px;
  color: #00BCD4; }

.boxContent {
  margin: 20px 80px 0px 80px;
  text-align: center; }

#Notes {
  float: left; }

.btn {
  margin-top: 10px;
  display: inline-block; }

.main {
  text-align: center;
  margin-bottom: 0px; }

.lists {
  display: inline-block;
  color: #00BCD4;
  list-style-type: none;
  margin-left: 40px;
  background-color: #B2EBF2;
  margin-bottom: 2px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Noticia Text", serif;
  width: 50%;
  text-align: left;
  border-radius: 5px; }
  @media screen and (min-width: 300px) and (max-width: 700px) {
    .lists {
      width: 80%; } }
  @media screen and (min-width: 701px) and (max-width: 900px) {
    .lists {
      width: 75%; } }

.sublist {
  margin-left: 40px;
  margin-top: 3px;
  margin-bottom: 3px; }

.check {
  text-decoration: line-through; }

.mar {
  margin-left: 40px; }
